@import url("./styles/header.css");
@import url("./styles/lista_consultas.css");
@import url("./styles/menu.css");
@import url("./styles/menu-flutuante.css");
@import url("./styles/formulario.css");

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {

    --branco: #FFFFFF;
    --preto-logo: #3A404E;
    --preto: #464646;
    --cinza: #A3A3A3;
    --cinza-claro: #F6F6F6;
    --vermelho: #8E2424;
    --laranja: #FFB050;
    --azul: #4894FF;
    --cor-de-fundo: linear-gradient(165.96deg, #F8F4FF 0%, #EFF0F4 100%);
    --fonte-principal: "Montserrat";
}

html {
    font-size: 100%;
    /* 16px */
}

body {
    background: var(--cor-de-fundo);
    /* background: #8E2424; */
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 0.875rem;
    position: relative;
}

.container {
    display: grid;
    align-items: center;
    flex-direction: column;
    padding: 1em;
    margin-bottom: 3em;
    grid-template-areas:
        "header header"
        "main main"
        "aside aside"
    ;
}

@media screen and (min-width: 768px) {
    .container {
        padding: 0;
        margin: 0;
        grid-template-areas:
            "aside header"
            "aside main"
            "aside main"            
            "aside form"
        ;
       
    }
}