.footer {
    position: fixed;
    margin-top: 1em;
    display: flex;
    width: 100%;
    height: 58px;
    bottom: 0;
    left: 0;
    border-radius: 12px 12px 0px 0px;
    background-color: var(--branco);
    justify-content: center;
}

.menu__lista {
    display: flex;
    align-items: baseline;
    justify-items: center;
    text-align: center;
}

.menu__item {
    padding: 1em;

}

.menu_imagem {
    text-align: center;
    height: 40px;
}

.menu_imagem figcaption {
    margin-top: 0.5em;
}




