/* Inicialmente, a sobreposição está oculta */
.overlay {
    display: none; /* Não visível por padrão */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo opaco */
    z-index: 9; /* Fica abaixo do menu */
}

/* Botão flutuante */
.botao-flutuante-adicionar {
    background-image: url("../assets/adicionar\ fab.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: fixed;
    bottom: 82px;
    width: 56px;
    height: 56px;
    right: 0px;
    margin-right: 2em;
    border: none;
    background-color: transparent;
    padding: 0;
    z-index: 10;  /* O botão fica acima da overlay */
    transition: opacity 0.3s ease;
}

/* Exibe o botão e a sobreposição quando o botão for hover */
.botao-flutuante-adicionar:hover {
    background: linear-gradient(165.96deg, #F8F4FF 0%, #EFF0F4 100%);
    opacity: 0.6;
    top: 0px;
    left: 0px;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 11; /* O botão fica acima da overlay */
}

/* Torna a overlay visível quando o botão for hover */
.botao-flutuante-adicionar:hover ~ .overlay {
    display: flex;
}

/* Menu adicional */
.menu-adicional {
    display: none;
    position: fixed;
    right: 30px;
    bottom: 82px;
    background-color: transparent;
    width: calc(100% - 2px);
    justify-content: flex-end;
    flex-direction: column;
    z-index: 15;  /* O menu fica acima de tudo */
    border: solid 1px;
}

/* Exibe o menu adicional quando o botão ou o menu for hover */
.botao-flutuante-adicionar:hover~.menu-adicional,
.menu-adicional:hover {
    display: flex;
}

/* Itens do menu */
.menu-adicional__item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1em;
    opacity: unset;
}

.menu-adicional__botao {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 56px;
    height: 56px;
    border: none;
    padding: 0;
}

#botao-consulta-adicionar {
    background-image: url("../assets/adicionar\ fab.svg");
}

#botao-consulta-video {
    background-image: url("../assets/camera\ fab.svg");
}

#botao-consulta-presencial {
    background-image: url("../assets/pin\ fab.svg");
}

.menu-adicional__descricao {
    top: 463px;
    left: 44px;
    padding: 2px 8px 2px 8px;
    border-radius: 23px;
    opacity: 1;
    font-size: 12px;
    font-weight: 500;
    background-color: white;
}

/* Responsividade para esconder o botão em telas maiores */
@media screen and (min-width: 768px) {
    .botao-flutuante-adicionar {
        display: none;
    }
}
